{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <header>
            <a href="/lucky/number">Lucky Number</a>
        </header>
        
        <div>
            <h1> Home Page</h1>
        </div>
    </div> 
{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}
